@font-face {
  font-family: Marsek;
  src: url("../fonts/Marsek-Demi.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto";
  opacity: 0.87;
}

p{
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.navbar-logo-GIPL {
  height: 5rem;
  width: 5rem;
}

.navbar-logo-make {
  width: 7rem;
}

.container {
  max-width: 2160px;
  padding: 0;
}

.row {
  margin: auto;
}

#carousel1d {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel1m {
  display: none !important;
}

.navbar-toggler-icon {
  border-color: white;
  width: 1.4rem;
}

.navbar-toggler {
  padding: 0.08rem 0.3rem !important;
}

.nav-link {
  color: white;
  opacity: 0.98;
}

.bg-red {
  background-color: #d40b13;
}

.bg-blue {
  background-color: #2b1b7b;
}


.bottom a {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 3rem;
  margin: 0 2rem;
}

.carousel-inner {
  padding: 0;
}

.carousel-inner img {
  width: 100% !important; 
}

.our-products h3 {
  font-family: 'Roboto';
  color: #2b1b7b;
  font-weight: bold;
}

.our-products p {
  text-align: center;
}

.nav-tabs {
  background-color: #2b1b7b;
}

.product-showcase h4 {
  font-family: 'Roboto';
  font-weight: bold;
  color: white;

}

.product-showcase h1 {
  font-family: 'Roboto';
  font-weight: bold;
  color: #2b1b7b;
}

.tab-content img {
  margin: 0 1.5rem;
}

.img-size {
  width: 25rem;
  height: 18rem;
  object-fit: cover;
}

footer {
  padding: 3rem 0 2rem 0;
  background-color: #2b1b7b;
}

.footer h4,
h5 {
  color: white;
}

.footer-svg {
  width: 1.8rem;
  height: auto;
  opacity: 1;
  padding: 0;
}

.footer-text {
  color: white;
  opacity: .87;
}

.footer-logo {
  width: 15rem;
  height: auto;
}

.footer-map {
  width: 35rem;
  height: 15rem;
}


@media only screen and (max-width: 769px) {

  p{
    font-size: 1rem;
    font-weight: 400;
    color: black;
  }
  

  .navbar-logo-make {
    width: 6rem;
  }

  #carousel1d{
    display: none !important;
  }

  #carousel1m {
    display: block !important;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70% !important;
    width: auto;
  }

  .bottom a {
    padding: 0.5rem 0;
  }

  .carousel-inner img {
    width: 100% !important;
    height: 40vh !important;
  }

  .tab-content img {
    margin: 0 0 1rem 0;
  }

  .scroll {
    overflow-x: auto !important;
  }

  .bottom a {
    margin: 0.2rem 0 0 0;
  }

  .footer-map {
    width: auto;
    height: 15rem;
  }

}