@font-face {
  font-family: Marsek;
  src: url("../fonts/Marsek-Demi.ttf");
}

.container {
  max-width: 2160px;
  padding: 0;
}

.row{
  margin: auto;
}

.navbar-toggler-icon {
  border-color: white;
}

.bg-red {
  background-color: #d40b13;
}

.bg-blue {
  background-color: #2b1b7b;
}


.bottom a {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 3rem;
  margin: 0 2rem;
}

.carousel-inner{
  padding: 0;
}

.carousel-inner img {
  width: 100% !important;
  height: 80vh !important;
}

.our-products h3{
  font-family: 'Roboto';
  color: #2b1b7b;
  font-weight: bold;
}

.our-products p{
  text-align: center;
}

.nav-tabs{
  background-color: #2b1b7b;
}

.product-showcase h4{
  font-family: 'Roboto';
  font-weight: bold;
  color: white;

}

.tab-content img{
  margin: 0 1.5rem;
}

.img-size{
  width: 25rem;
  height: 18rem;
  object-fit: cover;
}

@media only screen and (max-width: 720px) {
  .carousel-inner img {
    width: 100% !important;
    height: 40vh !important;
  }

  .bottom a{
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 540px) {
  .tab-content img{
    margin: 0 0 1rem 0;
  }

  .scroll{
    overflow-x: auto !important;
  }

  .bottom a{
    margin: 0.2rem 0 0 0;
  }
}